aws_region                      = "ap-northeast-2"
vpc_cidr                        = "10.30.0.0/16"
app_availability_zone           = "ap-northeast-2a"
alb_secondary_availability_zone = "ap-northeast-2c"
redis_node_type                 = "cache.t4g.micro"
